/* Write your CSS here! */

p {
	font-family: "Courier";
}

#mainHeading {
	color: red;
}

body {
	display: block;
	/* background-image: url(images/background.jpg); */

	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px; 

	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
}

img {
	max-width: 100%;
	height: auto;
}

h2 {
	text-align: center;
}

figure {
	text-align: center;
}

.funParagraph {
	color: green;
}

.video-div {
	margin-top: 100px;
	margin-right: 25%;
	margin-bottom: 100px;
	margin-left: 25%;
}


#footer-div {
	margin: auto;
	width:19%;
	border: 2.25px solid darkslategray;
	border-radius: 22px;
	text-align: center;
}

#footer-p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	letter-spacing: 1px;
}

