/* Write your CSS here! */

p {
	font-family: "Courier";
}

#mainHeading {
	color: red;
}

body {
	display: block;

	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
}

.testP {
	color: green;
}

.video-div {
	/* padding-top: 100px;
	padding-right: 50%;
	padding-bottom: 100px;
	padding-left: 50%; */

	margin-top: 100px;
	margin-right: 25%;
	margin-bottom: 100px;
	margin-left: 25%;
}

img {
	max-width: 100%;
	height: auto;
}